body {
    text-align: center;
    font-size: 130%;
    margin: auto;
}

ul {
    padding-left: 0;
    list-style-type: none;
}


.togls {
    text-decoration: underline;
    cursor: pointer;
}

.oths {
    border: solid 1px;
    padding: 12px;
}

.texts li {
    margin: 0.5em 0;
}

.centered {
    display: inline-block;
}

.head {
    margin: 0;
    padding-top: 0.5em;
    text-align: center;
    font-weight: bold;
}

.foot {
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
}

.ttl {
    margin: 1.4em 0 0.5em 0;
    font-weight: bold;
}

.subttl {
    margin: 0 0 0.3em 0;
    font-style: italic;
}

.texts {
    max-width: 38em;
    min-width: 15em;
    line-height: 150%;
    text-align: justify;
    text-indent: 0;
    padding: 0 0.5em;
}

.small {
    font-size: 90%;
    text-indent: 2em;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
